
.App {
  text-align: center;
  text-decoration: none;

  /*background-image: url();*/
}
.App h2 {
  font-weight: bolder;
  text-decoration: underline;
  color: pink;
}/*
the image css for the movies need to be in app.css becuase that is where the original image src is locatcated*/
img {
  height: 350px;
  width: 250px;
  border: 2px solid black;
}
