.Movie {
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;

}
.Movie .image-container {
  	height: 16.66rem;
  	margin-bottom: 1rem;
  
}
.Movie .image-container img {
	border: 20px solid black;	
}

.Movie h2 {
 	margin-bottom: .5rem;
  	font-size: 1.2rem;
  	font-weight: 600;
}

.Movie-information {
 	display: flex;
  	justify-content: space-between;
}

.Movie-information p {
  font-size: .88rem;
  font-weight: 300;
  line-height: 1rem;
}